body {
    background-color: cornflowerblue;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.new {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 270px;
    height: 150px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    text-align: center;
}

.btn {
    padding: 7px;
    background-color: cornflowerblue;
    border: none;
}

#ot {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

#sub {
    color: rgb(1, 248, 84);
    display: flex;
    justify-content: center;
}

#submission {
    padding: 12px;
}