    body {
        background-color: cornflowerblue;
        flex-direction: column;
        margin: 0%;
        padding: 0%;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container {
        border-radius: 10px;
        border: 2px solid black;
        background-color: aliceblue;
        padding: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    button {
        padding: 5px;
        border: none;
        font-weight: bold;
        background-color: cornflowerblue;
        margin-top: 30px;
    }
    
    #op {
        background-color: rgb(173, 212, 133);
    }
    
    h3 {
        margin: 0%;
    }